/* --------------------------------- Default -------------------------------- */
@media screen and (min-width: 0px) {
  .container {
    @apply mt-[90px] font-bold;

    .categories {
      @apply text-[24px] text-center mb-[40px];
    }

    .content {
      @apply grid gap-y-10 relative z-[20];

      .category {
        @apply w-[338px] rounded-[10px];

        img {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        &:hover {
          @apply cursor-pointer;
          box-shadow: rgba(4, 17, 29, 0.5) 0px 0px 8px 0px;
        }

        .word {
          @apply flex justify-center py-[20px] border border-[lightgrey];
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

/* ------------------------------ Screen: 815px ----------------------------- */
@media screen and (min-width: 815px) {
  .container {
    .content {
      @apply grid-cols-2 gap-4;

      .category {
        @apply w-[180px];
      }
    }
  }
}

/* ----------------------------- Screen: 1200px ----------------------------- */
@media screen and (min-width: 1200px) {
  .container {
    .content {
      @apply grid-cols-3;

      .category {
        @apply w-[338px];
      }
    }
  }
}
