/* --------------------------------- Default -------------------------------- */
@media screen and (min-width: 0px) {
  .container {
    @apply px-[20px] flex flex-col justify-center w-full max-w-[1200px] my-32 relative;

    .notable {
      @apply text-center font-bold mb-16 text-2xl;
    }

    .splide {
      @apply w-full;

      .card {
        @apply flex flex-col items-center w-full cursor-pointer;

        .shadow {
          @apply rounded-[10px];
        }

        &:hover {
          .shadow {
            box-shadow: rgba(4, 17, 29, 0.5) 0px 0px 8px 0px;
          }
        }

        img {
          @apply w-[338px];
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        .info {
          @apply w-[338px] h-[209px] flex flex-col gap-4 items-center text-center text-[white] p-4 pb-8;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;

          p {
            @apply first:text-[20px] first:font-bold even:text-[14px];
          }

          .live {
            @apply mt-auto border border-[white] px-2 py-1 rounded-[8px] text-sm font-bold;
          }
        }
      }
    }
  }

  .pagination {
    bottom: -2em;
  }
}
