/* --------------------------------- Default -------------------------------- */
@media screen and (min-width: 0px) {
  .container {
    @apply flex flex-col justify-center items-center w-full max-w-[1200px];

    .trending {
      @apply text-center font-bold mb-16 text-2xl;
    }

    .splide {
      @apply w-full;

      .card {
        @apply flex flex-col items-center cursor-pointer;

        .nft {
          @apply rounded-[10px];

          &:hover {
            box-shadow: rgba(4, 17, 29, 0.5) 0px 0px 8px 0px;
          }

          .image {
            @apply w-[392px] h-[200px] overflow-hidden;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            img {
              @apply w-full h-full;
            }
          }

          .info {
            @apply w-[392px] relative flex flex-col items-center gap-6 h-[236px] pt-8 px-[40px] border-x border-b border-[lightgrey];
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .pfp {
              @apply absolute w-[50px] h-[50px] rounded-full top-[-25px] flex justify-center items-center;

              img {
                @apply w-[44px] h-[44px] rounded-full;
              }
            }

            .credit {
              @apply text-center;

              .title {
                @apply font-bold text-[rgb(4,17,29)];
              }

              .by {
                @apply text-[14px];

                .name {
                  @apply text-[rgb(32,129,226)] hover:text-[rgb(24,104,183)] cursor-pointer;
                }
              }
            }

            .desc {
              @apply text-[rgb(112,122,131)] text-center;
            }

            .blockchain {
              @apply absolute left-[10px] bottom-[10px] cursor-pointer;

              .pop {
                @apply duration-200 absolute whitespace-nowrap top-[-160%] bg-[black] px-[15px] py-[5px] rounded-[10px];
                display: none;

                p {
                  @apply text-[white] font-bold;
                }
              }

              &:hover {
                .pop {
                  @apply duration-200;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  .pagination {
    bottom: -2em;
  }
}
